.bgc-1 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../Images/Background-1.png") no-repeat center fixed;
    background-size: cover;
    height: 100vh;
}

.head-menu-link {
    text-decoration: none;
    color: #a7a7a6;
}

.head-menu-nav {
    display: flex;
    background: rgba(73, 72, 63, 0.6);
}

.page-logo-link {
    text-decoration: none;
    font-size: 25pt;
}

.page-logo-hexagon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 58px;
    height: 35px;
    background-color: #18cfab;
}

.page-logo-hexagon:after, .page-logo-hexagon:before {
    content: "";
    position: absolute;
    width: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
}

.page-logo-hexagon:after {
    top: 100%;
    width: 0;
    border-top: 15px solid #18cfab;
}

.page-logo-hexagon:before {
    bottom: 100%;
    border-bottom: 15px solid #18cfab;
}

.page-logo-div {
    display: flex;
}

.page-logo-text {
    margin-left: 5px;
}


.the-text {
    color: #ffffff;
    font-family: 'Montserrat', Montserrat-Bold, ﻿AdobeInvisFont, ﻿Courier, serif;
}

.Ham-text {
    color: #18cfab;
    margin-left: -10px;
    font-family: 'Montserrat', Montserrat-Bold, serif;
    font-weight: bold;
}

.head-menu-link {
    padding: 45px 8px 47px 8px;
    font-size: 9pt;
    font-family: 'Montserrat', Montserrat-Bold, ﻿AdobeInvisFont, ﻿Courier, serif;
    font-weight: bold;
}

.head-menu-link:hover {
    color: #18cfab;
    padding-bottom: 46px;
    box-shadow: 0 2px 0 0 #18cfab;
}

.width-div {
    width: 1160px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.search-tool {
    padding: 45px 8px 43px 8px;
    width: 16px;
}

.search-tool:hover {
    color: #18cfab;
    padding-bottom: 43px;
    box-shadow: 0 2px 0 0 #18cfab;
}

.head-menu {
    display: flex;
    align-items: center;
}

.H {
    color: #ffffff;
    font-family: 'Montserrat', ﻿﻿Montserrat-Bold, ﻿AdobeInvisFont, ﻿Courier;
    font-weight: 700;
    font-size: 40px;
}

.head-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-content-context {
    width: 1160px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h3-first-part {
    font-size: 20pt;
    color: #ffffff;
}

.h3-second-part {
    font-size: 20pt;
    color: #18cfab;
}

.h1-part {

    font-size: 45pt;
    color: #ffffff;
}

.head-content-p {
    font-family: 'Montserrat', Serif;
    font-size: 18pt;
    color: #ffffff;
    opacity: 0.5;
}

.pa {
    font-family: 'Montserrat', ﻿Montserrat-Bold, ﻿AdobeInvisFont, ﻿Courier;
    padding: 10px 0px;
}


.s {
    width: 160px;
    height: 57px;
    border-radius: 4px;
    margin: 0px 10px;
    box-shadow: 0 -5px 0 0 white;
}

.s:focus {
    outline: 0;
}

.head-button-1 {
    background-color: #18cfab;
    border: none;
    color: #ffffff;
    font-family: 'Montserrat', Montserrat-Bold;
    font-weight: 600;
}

.head-button-2 {
    border: none;
    color: #ffffff;
    background-color: #00cbf6;
    font-family: 'Montserrat', Montserrat-Bold;
    font-weight: 600;
}

.head-buttons {
    padding-top: 100px;
    font-family: 'Montserrat';
}

.hopes-contain-parts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    padding: 80px 0;
}

.blue-hope-part {
    border-top: 6px solid #18cfab;
    background-color: #1c2a33;
}

.green-hope-part {
    border-top: 6px solid #ffffff;
    background-color: #18cfab;
}

.hopes-contain {
    display: flex;
}

.first-text {
    color: #18cfab;
    font-family: 'Montserrat';
    padding-top: 40px;
}

.second-text {
    color: #ffffff;
    font-family: 'Montserrat';
    padding-top: 40px;
}

.crystal-image-text {
    padding-top: 58px;
}

.technology-image-text {
    padding-top: 58px;
}

.services {
    padding: 30px 0px;
}

.service-content {
    width: 1160px;
    margin: 0 auto;
    padding: 55px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-header-text-span {
    position: relative;
    font-size: 24pt;
    padding-bottom: 60px;
    color: #4e4e4e;
    font-family: 'Montserrat', ﻿Montserrat-Regular;
}


.section-header-text-span:after {
    content: "";
    position: absolute;
    top: 60px;
    right: 30%;
    width: 80px;
    height: 4px;
    transform: skew(60deg);
    border-top: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
}

.tabs-content-item-text {
    display: inline-block;
}

.tabs-content-item {
    padding-top: 15px;
    display: flex;
    align-items: center;
}

.tabs-content-item-text {
    padding-left: 20px;
    color: #8d8d8d;
}

ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.tabs {
    padding-top: 55px;
    display: flex;
    position: relative;
}

.tabs-title {
    width: 153px;
    padding: 20px;
    background-color: #f8fcfe;
    color: #7d7d7d;
    cursor: pointer;
    font-family: 'Montserrat';
    text-align: center;
    border: 1px solid #ebecec;
}

.tabs-title.active {
    background-color: #18cfab;
    color: #ffffff;
    border: 1px solid #18cfab;
}

.tabs-title-text {
    position: relative;
}

.tabs-title-text.active:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: 100;
    top: 30px;
    right: 40%;
    background-color: #18cfab;
    transform: rotate(45deg);
}

[data-tab-content].activeService {
    display: inline-block;
}

[data-tab-content] {
    display: none;
}

.tabs-content-image {
    width: 194px;
    height: 139px;
}

.purchase-content {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    padding: 110px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.purchase-h2-text {
    color: #18cfab;
    font-size: 43px;
    font-family: 'Montserrat';
    font-weight: 700;
    padding-bottom: 20px;
}

.purchase-p-text {
    font-size: 12pt;
    padding-bottom: 60px;
    font-family: 'Montserrat';
    opacity: 0.7;
    color: #ffffff;
}

.purchase-button {
    border: none;
    background-color: #18cfab;
    font-family: 'Montserrat', Montserrat-Bold;
    font-weight: 600;
    color: #ffffff;
}

.purchase-bgc {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../Images/section-2.jpg") no-repeat center fixed;
    background-size: cover;
}

.gallery-content {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0px;
}

.tabs-gallery-title {
    padding: 20px;
    background-color: #ffffff;
    color: #7d7d7d;
    cursor: pointer;
    font-family: 'Montserrat';
    text-align: center;
    border: 1px solid #ebecec;
}

.gallery-items {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.item-style {
    position: relative;
    width: 265px;
    height: 206px;
}

.img-style {
    width: 265px;
    height: 206px;
}

.gallery-title-style {
    color: #18cfab;
    font-family: 'Montserrat';
    font-size: 14pt;
    padding: 20px;
}

.gallery-category-style {
    color: #8a8a8a;
    font-family: 'Montserrat';
    font-size: 10pt;
}

.gallery-hover-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hoverdiv-style {
    border-top: #18cfab 2px solid;
    box-sizing: border-box;
    background-color: #f8fcfe;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
}

.firsticon-style {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
}

.firsticon-inner-style {
    transform: translate(-78px, -1px);
}

.secondicon-inner-style {
    transform: translate(-45px, -1px);
}

.tabs-gallery-title.activeTab {
    color: #18cfab;
    box-shadow: 0 -3px 0 0 #18cfab;
}

.centered-gallery-content {
    font-family: 'Montserrat', Montserrat-Regular, ﻿AdobeInvisFont;
    font-weight: 600;
    padding: 40px;
}

.gallery {
    background-color: #f8fcfe;
}

.icon-style {
    padding: 0 3px;
}

.gallery-button {
    background-color: #18cfab;
    color: #ffffff;
    font-family: 'Montserrat', Montserrat-Bold;
    font-weight: 600;
    margin-top: 25px;
    border: none;
}

.gallery-button-text {
    position: relative;
    font-size: 10pt;
    font-family: 'Montserrat';
    padding-left: 13px;
    font-weight: 600;
}

.gallery-cover {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: #22353f;
}

.footer-content {
    padding: 45px;
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-ham-text {
    color: #18cfab;
}

.footer-text {
    font-size: 14pt;
    color: #aeaeae;
}

.t {
    font-family: 'Montserrat', Montserrat-Light, ﻿AdobeInvisFont, ﻿Courier;
    font-weight: 500;
}

.Rights-text {
    padding-left: 6px;
    box-shadow: -1px 0 0 0 #aeaeae;
}

.copyright-text:before {
    content: "\00A9";
    padding-right: 5px;
}



